[Desktop Entry]
Name=Krita
Exec=/home/darksied/.local/share/applications/krita
Comment=Image Editor, Graphics
Terminal=false
Icon=cinnamon-panel-launcher
Type=Application
PrefersNonDefaultGPU=true
